<template>
  <v-app>

    <div
      class="text-center pt-2 pb-2"
      style="background: #00c300; height: auto"
    >
      <a href=""
        ><img
          src="~/assets/image/line@.webp"
          width="140"
          height="40"
          alt="LineidUfa"
      /></a>
    </div>
    <div id="navone">
      <v-container class="conatiner">
        <v-btn id="sidebar" color="red" @click="drawer = true"
          ><v-icon large color="white dark-2"> mdi mdi-apps </v-icon></v-btn
        >

        <v-tabs
          id="navbar"
          background-color="transparent"
          next-icon="mdi-arrow-right-bold-box-outline"
          prev-icon="mdi-arrow-left-bold-box-outline"
          show-arrow
        >
          <v-tabs-slider color="white"></v-tabs-slider>

          <v-tab to="/" style="color: #fff"> <img style="width:35px;padding:5px" src="~/assets/image/logo-menu/home.webp" alt="">หน้าแรก</v-tab>
          <v-tab to="/casino" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/casino.webp" alt=""> คาสิโนออนไลน์</v-tab>
          <v-tab to="/slot" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/slot.webp" alt=""> สล็อตออนไลน์</v-tab>
          <v-tab to="/sports" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/sport.webp" alt=""> กีฬาออนไลน์</v-tab>
          <v-tab to="/lotto" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/lotto.webp" alt=""> แทงหวย</v-tab>
          <v-tab to="/mini-games" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/minigame.webp" alt=""> มินิเกม</v-tab>
          <v-tab to="/fishing" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/fishing.webp" alt=""> ยิงปลา</v-tab>
          <v-tab to="/promotion" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/promotion.webp" alt=""> โปรโมชั่น</v-tab>
          <v-tab to="/article" style="color: #fff"> บทความ</v-tab>
          <v-tab to="/" style="color: #fff"><img style="width:35px;padding:5px" src="~/assets/image/logo-menu/play.webp" alt=""> ทางเข้า UFABET</v-tab>
          
        </v-tabs>
      </v-container>
    </div>
    <style>
      #navone {
        background: #083a52;
        border-bottom: 3px solid #2367b3;
      }
      #navone h1 {
        font-size: 1.5em;
      }
    </style>
    <div></div>
    <nuxt />

    <v-navigation-drawer v-model="drawer" absolute left temporary>
      <div class="container">
        <div class="logo">
        <img src="~/assets/image/logo-menu/ufawiplogo.webp" width="100%" alt="">
      </div>
      <div class="mt-3" align="center">
        <v-btn to="/" color="error">
          @line-ufabet
        </v-btn>
      </div>
      </div>
      <v-list nav dense>
        <v-list-item-group v-model="group" active-class="">
          <v-list-item v-for="(item, i) in navItem" :key="i">
            <v-list-item-title>
              <v-tab :to="item.link">
                <v-list-item-icon>
                  <img :src="item.icon" style="padding:5px;" alt=""> <span>{{item.text}}</span>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title ></v-list-item-title>
                </v-list-item-content>
              </v-tab>
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <style>
      .v-list-item-group .v-list-item--active {
        background-color: red;
        color: white;
      }
    </style>
    <TheFooter />
    
    <div id="menubot">
<v-bottom-navigation
  background-color="red"
  >
    <v-btn>
      <span>แชทสด</span>
      <img src="~/assets/image/m-chat.webp" height="35px" alt="">
    </v-btn>

    <v-btn>
      <span>โปรโมชั่น</span>

      <img src="~/assets/image/m-gift.webp" height="35px" alt="">
    </v-btn>

    <v-btn to="/">

      <img style="margin-top:-35px;border-radius:50%;border:1px solid #000;" src="~/assets/image/logoufawip.webp" height="70px" alt="">

    </v-btn>
    <v-btn>
      <span>สมัครสมาชิก</span>

      <img src="~/assets/image/m-user.webp" height="35px" alt="">
    </v-btn>
    <v-btn>
      <span>ทางเข้า</span>

 <img src="~/assets/image/m-play.webp" height="35px" alt="">
    </v-btn>
  </v-bottom-navigation>
      </div>
    </div>
        <!-- <div id="line">
      <div
        style="
          padding: 5px 5px 5px 5px;
          border-radius: 30px;
          border: 1px solid green;
        "
      >
        <a href="">
          <img src="~/assets/image/line.png" style="width: 50px"
        /></a>
      </div>
    </div> -->
  </v-app>
</template>

<script>
import TheFooter from "~/components/footer";
export default {
  components: { TheFooter },
  data: () => ({
    drawer: false,
    group: 0,
    navItem: [
      {
        text: "หน้าแรก",
        link: "/",
        icon: require("@/assets/image/logo-menu/home.webp"),
      },
      {
        text: "คาสิโนออนไลน์",
        link: "/casino",
        icon: require("@/assets/image/logo-menu/casino.webp"),
      },
      {
        text: "สล็อตออนไลน์",
        link: "/slot",
        icon: require("@/assets/image/logo-menu/slot.webp"),
      },
      {
        text: "กีฬาออนไลน์",
        link: "/sports",
        icon: require("@/assets/image/logo-menu/sport.webp"),
      },
      {
        text: "แทงหวย",
        link: "/lotto",
        icon: require("@/assets/image/logo-menu/lotto.webp"),
      },
      {
        text: "มินิเกม",
        link: "/mini-games",
        icon: require("@/assets/image/logo-menu/minigame.webp"),
      },
      {
        text: "ยิงปลา",
        link: "/fishing",
        icon: require("@/assets/image/logo-menu/fishing.webp"),
      },
      {
        text: "โปรโมชั่น",
        link: "/promotion",
        icon: require("@/assets/image/logo-menu/promotion.webp"),
      },
      {
        text: "บทความ",
        link: "/article",
        icon: require("@/assets/image/logo-menu/article.webp"),
      },
      {
        text: "ทางเข้า UFABET",
        link: "/",
        icon: require("@/assets/image/logo-menu/play.webp"),
      },
    ],
  }),

  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Prompt", sans-serif;
}
.container {
  max-width: 1024px auto;
}
#sidebar {
  display: none;
}
/* #line {
  position: fixed;
  box-sizing: border-box;
  right: 0;
  bottom: 20%;
  z-index: 1;
} */
#menubot {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: red;
  display: none;
}
@media (max-width: 418px) {
  #sidebar {
    display: block;
  }
  #navbar {
    display: none;
  }
  #menubot {
    display: block;
  }
}
</style>