<template>
  <div class="container">
    <template>
        <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        <v-data-table
            :headers="header"
            :items="api_test"
            :search="search"
            :items-per-page="5"
            class="elevation-1"
        >
        <template v-slot:item.image="{ item }">
            <div class="p-2">
              <v-img :src="item.image"></v-img>
            </div>
          </template>
        </v-data-table>
        </template>
  </div>
</template>
<script>
export default {
  data() {
    return {
      search: '',
      nasa: '',
      api_test:[],
      header:[
          {
            text: 'รหัสสินค้า',
            align: 'start',
            sortable: false,
            value: 'title',
          },
          { text: 'ชื่อสินค้า', value: 'description' },
          { text: 'Image', value: 'image' },
          ]

    };
  },
  layout: "menu",
  methods: {
    async nasaAPI() {
      const nasa = await this.$axios.get(
        "/planetary/apod?api_key=UWwjIrksawd1a4owYUxVLTYr1qa1W0h4a6kVLdXu"
      );
      // console.log(nasa);
      const picNasa = nasa.data;
      this.nasaPic = picNasa;
    },
    async function3() {
      const testapi = await this.$axios.get("/mountains");
      // console.log(testapi);
      const title_api = testapi.data;
      this.api_test = title_api;
    },
  },

  created() {
    this.nasaAPI();
    this.function3();
  },
};
</script>