<template>
  <div class="bg-dark">
    <v-container>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <ul v-for="item in navItem" style="list-style: none;text-decoration:none;">
          <nuxt-link class="btn btn-sm text-muted" :to="item.link" style="color:#fff"
            ><li>{{ item.text }}</li></nuxt-link
          >
        </ul>
        </div>
        
      </div>
      <div>
        <div class="row">
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game1.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game2.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game3.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game4.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game5.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game6.png" width="100%" alt="" />
          </div>
          <div class="col-3 col-sm-2 mb-1">
            <img src="~/assets/image/game7.png" width="100%" alt="" />
          </div>
        </div>
        <div class="d-flex justify-content-center" id="footer">
          <strong> Copyright © 2021 All Casino. All Rights Reserved. </strong>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      navItem: [
        {
          text: "หน้าแรก",
          link: "/",
          icon: require("@/assets/image/logo-menu/home.webp"),
        },
        {
          text: "คาสิโนออนไลน์",
          link: "/casino",
          icon: require("@/assets/image/logo-menu/casino.webp"),
        },
        {
          text: "สล็อตออนไลน์",
          link: "/slot",
          icon: require("@/assets/image/logo-menu/slot.webp"),
        },
        {
          text: "กีฬาออนไลน์",
          link: "/sports",
          icon: require("@/assets/image/logo-menu/sport.webp"),
        },

        {
          text: "โปรโมชั่น",
          link: "/promotion",
          icon: require("@/assets/image/logo-menu/promotion.webp"),
        },
        {
          text: "บทความ",
          link: "/article",
          icon: require("@/assets/image/logo-menu/article.webp"),
        },
      ],
    };
  },
};
</script>