<template>
  <div>
    <nuxt-link to="/user" class="button--grey">User</nuxt-link>
  </div>
</template>
<script>
export default {
//   data () {
//       return {
//         tab: null,
//         items: [
//           'HOME', 'CONTACT', 'ABOUT', 'PORT',
//         ],
//         iim111:['Hello','Sakata'],
//         text: 'Hello',
//         text2: 'Sakata',
//         show:  '',
//         show1: '',
//         arr:'',
//         nasaPic: '',

//       }
//     },
//     methods: {
//     //  async fuctuin01(){
//     //     // 178.128.21.58:5700/api/v1/member/login
//     //   const send = await this.$axios.post('/api/v1/member/login',{
//     //                                                                 "username": "ufrfufa180001",
//     //                                                                 "password": "asdfasdfqwer111"
//     //    })
       
//     //   console.log(send)
//     //   },
//       async function02(){
//          const as1234 = await this.$axios.get('/todos/2')
//          console.log(as1234)
//         const abcc = as1234.data.title
//         console.log(abcc)
//         this.show = abcc
//         //  let obj = JSON.stringify(as1234)
//         //  let JSObj = JSON.parse(obj)
//         //  alert(obj)
//         //  alert(JSObj)
         
//        },
//       async function3(){
//         const gg1 = await this.$axios.get('/mountains')
//         console.log(gg1)
//         const title_h = gg1.data[0].image
//         const title_y = gg1.data[1]
//         this.arr = title_y
//         console.log(title_h)
//         this.show1 = title_h
//       },
//       async function004(){
//         const nasa = await this.$axios.get('/planetary/apod?api_key=UWwjIrksawd1a4owYUxVLTYr1qa1W0h4a6kVLdXu')
//         console.log(nasa)
//         const picNasa = nasa.data
//         this.nasaPic = picNasa
//       }
//     },created() {
//       // this.fuctuin01();
//       this.function02();
//       this.function3();
//       this.function004(); 
//     },
  layout:'ammor'
  ,
}
</script>
