<template>
  <div
    class="container mt-10 mb-10"
    style="
      background: #0d4f79;
      border-radius: 20px;
      box-shadow: 0px 0px 30px #fff;
    "
  >
    <div style="padding: 10px 10px 10px 10px">
      <h1>{{ art.title }}</h1>
      <div class="img col-12">
        <img
          :src="art.feature_image"
          width="100%"
          style="border-radius: 30px; box-shadow: 5px 5px 10px #000"
          alt=""
        />
      </div>
      <div class="global-main">
        <div v-html="art.html"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "menu",
  
  data() {
    return {
      art: "",
    };
  },
  methods: {
    async testapi() {
      const articles = await this.$axios.get(
        `/ghost/api/v3/content/posts/slug/${this.$route.params.slug}/?key=6f23bfc104035252692ca7121e`
      );
      const article1 = articles.data.posts[0];
      this.art = article1;
    },
  },
  created() {
    this.testapi();
  },
};
</script>
<style>
/* CMS CSS */

/* CMS CSS */

/* CMS CSS */

/* CMS CSS */

/* CMS CSS */

/* Variables */

/* Variables */

/* ---------------------------------------------------------- */

:root {
  /* Colours */
  --blue: #3eb0ef;
  --green: #a4d037;
  --purple: #ad26b4;
  --yellow: #fecd35;
  --red: #f05230;
  --darkgrey: #15171a;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;
  --pink: #fa3a57;
  --brown: #a3821a;
  --darkmode: color(var(--darkgrey) l(+2%));
}

/* Reset
/* ---------------------------------------------------------- */

.global-main a {
  color: #f05230 !important;
}

.global-main html,
.global-main body,
.global-main div,
.global-main span,
.global-main applet,
.global-main object,
.global-main iframe,
.global-main h1,
.global-main h2,
.global-main h3,
.global-main h4,
.global-main h5,
.global-main h6,
.global-main p,
.global-main blockquote,
.global-main pre,
.global-main a,
.global-main abbr,
.global-main acronym,
.global-main address,
.global-main big,
.global-main cite,
.global-main code,
.global-main del,
.global-main dfn,
.global-main em,
.global-main img,
.global-main ins,
.global-main kbd,
.global-main q,
.global-main s,
.global-main samp,
.global-main small,
.global-main strike,
.global-main strong,
.global-main sub,
.global-main sup,
.global-main tt,
.global-main var,
.global-main dl,
.global-main dt,
.global-main dd,
.global-main ol,
.global-main ul,
.global-main li,
.global-main fieldset,
.global-main form,
.global-main label,
.global-main legend,
.global-main table,
.global-main caption,
.global-main tbody,
.global-main tfoot,
.global-main thead,
.global-main tr,
.global-main th,
.global-main td,
.global-main article,
.global-main aside,
.global-main canvas,
.global-main details,
.global-main embed,
.global-main figure,
.global-main figcaption,
.global-main footer,
.global-main header,
.global-main hgroup,
.global-main menu,
.global-main nav,
.global-main output,
.global-main ruby,
.global-main section,
.global-main summary,
.global-main time,
.global-main mark,
.global-main audio,
.global-main video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Conv_SukhumvitSet-Medium", Sans-Serif !important;
}

.global-main body {
  line-height: 1;
}

.global-main ol,
.global-main ul {
  list-style: none;
}

.global-main blockquote,
.global-main q {
  quotes: none;
}

.global-main blockquote:before,
.global-main blockquote:after,
.global-main q:before,
.global-main q:after {
  content: "";
  content: none;
}

.global-main table {
  border-spacing: 0;
  border-collapse: collapse;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.global-main table td,
.global-main table th {
  border: 1px solid #2b2f36;
}

.global-main table th {
  color: hsla(0, 0%, 100%, 0.85);
  background-color: #2b2f36;
}

.global-main table th {
  border: 1px solid #2b2f36;
}

.global-main img {
  max-width: 100%;
}

.global-main html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.global-main *,
.global-main *:before,
.global-main *:after {
  box-sizing: inherit;
}

.global-main a {
  background-color: transparent;
}

.global-main a:active,
.global-main a:hover {
  outline: 0;
}

.global-main b,
.global-main strong {
  font-weight: bold;
}

.global-main i,
.global-main em,
.global-main dfn {
  font-style: italic;
}

.global-main h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

.global-main small {
  font-size: 80%;
}

.global-main sub,
.global-main sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.global-main sup {
  top: -0.5em;
}

.global-main sub {
  bottom: -0.25em;
}

.global-main img {
  border: 0;
}

.global-main svg:not(:root) {
  overflow: hidden;
}

.global-main mark {
  background-color: #fdffb6;
}

.global-main code,
.global-main kbd,
.global-main pre,
.global-main samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.global-main button,
.global-main input,
.global-main optgroup,
.global-main select,
.global-main textarea {
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
}

.global-main button {
  overflow: visible;
  border: none;
}

.global-main button,
.global-main select {
  text-transform: none;
}

.global-main button, .global-main html input[type="button"],
/* 1 */

.global-main input[type="reset"], .global-main input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}

.global-main button[disabled],
.global-main html input[disabled] {
  cursor: default;
}

.global-main button::-moz-focus-inner,
.global-main input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.global-main input {
  line-height: normal;
}

.global-main input:focus {
  outline: none;
}

.global-main input[type="checkbox"],
.global-main input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

.global-main input[type="number"]::-webkit-inner-spin-button,
.global-main input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.global-main input[type="search"] {
  box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */
}

.global-main input[type="search"]::-webkit-search-cancel-button,
.global-main input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.global-main legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}

.global-main textarea {
  overflow: auto;
}

.global-main table {
  border-spacing: 0;
  border-collapse: collapse;
}

.global-main td,
.global-main th {
  padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.global-main html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.global-main body {
  overflow-x: hidden;
  color: color(var(--midgrey) l(-30%));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.global-main ::selection {
  text-shadow: none;
  background: color(var(--blue) lightness(+30%));
}

.global-main hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid color(var(--lightgrey) l(+10%));
}

.global-main audio,
.global-main canvas,
.global-main iframe,
.global-main img,
.global-main svg,
.global-main video {
  vertical-align: middle;
}

.global-main fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.global-main textarea {
  resize: vertical;
}

.global-main p,
.global-main ul,
.global-main ol,
.global-main dl,
.global-main blockquote {
  margin: 0 0 1.5em 0;
}

.global-main ol,
.global-main ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

.global-main ol ol,
.global-main ul ul,
.global-main ul ol,
.global-main ol ul {
  margin: 0.5em 0 1em;
}

.global-main ul {
  list-style: disc;
}

.global-main ol {
  list-style: decimal;
}

.global-main ul,
.global-main ol {
  max-width: 100%;
}

.global-main li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

.global-main dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: var(--darkgrey);
  font-weight: 500;
  text-align: right;
}

.global-main dd {
  margin: 0 0 5px 0;
  text-align: left;
}

.global-main blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em 0 1.6em;
  border-left: var(--whitegrey) 0.5em solid;
}

.global-main blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

.global-main blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}

/* Quotation marks */

.global-main blockquote small:before {
  content: "\2014 \00A0";
}

.global-main blockquote cite {
  font-weight: bold;
}

.global-main blockquote cite a {
  font-weight: normal;
}

.global-main a {
  color: color(var(--blue) l(-5%));
  text-decoration: none;
}

.global-main a:hover {
  text-decoration: underline;
}

.global-main h1,
.global-main h2,
.global-main h3,
.global-main h4,
.global-main h5,
.global-main h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

.global-main h1 {
  margin: 0 0 0.5em 0;
  font-size: 5.5rem;
  font-weight: 600;
}

@media (max-width: 500px) {
  .global-main h1 {
    font-size: 2.2rem;
  }
}

.global-main h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2.2rem;
}

@media (max-width: 500px) {
  .global-main h2 {
    font-size: 1.8rem;
  }
}

.global-main h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .global-main h3 {
    font-size: 1.7rem;
  }
}

.global-main h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.global-main h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.global-main h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}
</style>