<template>
  <div id="backgruondBody" class="mt-4 container" style="">
    <div class="container">
      <h1>บทความ</h1>
      <hr style="height: 2px; border-width: 0; background-color: #fff" />
      <div class="row">
        <div v-for="item in art" v-if="item.custom_excerpt != 'promotion'" class="col-sm-4">
          <v-card class="mx-auto" width="100%">
            <a href="">
              <v-img
                class="white--text align-end"
                height="200px"
                :src="item.feature_image"
              >
              </v-img>
            </a>

            <v-card-subtitle class="pb-0">
              <strong>{{ item.title }}</strong>
            </v-card-subtitle>

            <v-card-text class="text--primary">
              <p>
                {{ item.excerpt }}
              </p>
            </v-card-text>

            <v-card-actions>
              <nuxt-link :to="`/article/${item.slug}`"
                >อ่านต่อเพิ่มเติม</nuxt-link
              >
            </v-card-actions>
          </v-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "menu",
  data() {
    return {
      art: "",
    };
  },
  methods: {
    async testapi() {
      const articles = await this.$axios.get(
        "/ghost/api/v3/content/posts/?key=6f23bfc104035252692ca7121e"
      );
      console.log(articles);
      const article = articles.data.posts;
      this.art = article;
    },
  },
  created() {
    this.testapi();
  },
};
</script>
