<template>
  <div class="container">
    <!-- <div class="mt-4 mb-4">
      <h1>{{ casino.title }}</h1>
    </div> -->
    <div class="global-main mt-4">
      <div v-html="casino.html"></div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "menu",
  css: ["~/assets/css/global-main.css"],
  data() {
    return {
      casino: "",
    };
  },
  methods: {
    async miniGamePage() {
      const page = await this.$axios.get(
        "/ghost/api/v3/content/pages/?key=6f23bfc104035252692ca7121e"
      );
      console.log(page);
      const pages = page.data.pages[2];
      this.casino = pages;
    },
  },
  created() {
    this.miniGamePage();
  },
};
</script>
<style>
.container h1 {
  font-size: 2em;
}
.global-main img {
  border-radius: 30px;
  margin-bottom: 10px;
}
</style>