<template>
  <div class="container">
    <div class="d-flex justify-content-center mt-4">
      <h1>โปรโมชั่น</h1>
    </div>
    <div class="row">
      <div
        v-for="(item, dialog) in casino"
        v-if="item.custom_excerpt === 'promotion'"
        class="col-6 col-sm-3"
      >
        <v-dialog v-model="item.featured" width="500">
          <template v-slot:activator="{ on }">
            <a v-on="on">
              <img :src="item.feature_image" width="100%" alt="" />
              <div class="text-center">
                <h5>{{ item.title }}</h5>
              </div>
            </a>
          </template>

          <v-card>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="item.featured = false">
                ปิด
              </v-btn>
            </v-card-actions>
            <div
              class="img col-12 d-flex justify-content-center"
              style="height: 100px"
            >
              <img
                :src="item.feature_image"
                style="margin-top: -8rem; position: fixed"
                width="150px"
                alt=""
              />
            </div>
            <v-card-text>
              <div class="global-main mt-4">
                <div v-html="item.html"></div>
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "menu",
  css: ["~/assets/css/global-main.css"],
  data() {
    return {
      casino: "",
      dialog: false,
      show: false,
    };
  },
  methods: {
    async promotionPage() {
      const promotion = await this.$axios.get(
        "/ghost/api/v3/content/posts/?key=6f23bfc104035252692ca7121e"
      );
      console.log(promotion);
      const pages = promotion.data.posts;
      this.casino = pages;
    },
  },
  created() {
    this.promotionPage();
  },
};
</script>
<style>
.container h1 {
  font-size: 2em;
}
.global-main img {
  border-radius: 30px;
  margin-bottom: 10px;
}
</style>